<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename = '/css/home.css') }}" rel="stylesheet" type="text/css">
    <link href="../static/css/weather-icons.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <link rel='icon' href='{{ url_for('static', filename = '/img/favicon.ico') }}' type='image/x-icon'>
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="#homepic"><img src="{{ url_for('static', filename = '/img/logo.JPG') }}" alt="logo"/></a></li>
                <li><a href="#white-container">7-Day Forecast</a></li>
                <li><a href="#mustard-container">Next Page</a></li>
                <li><a href="#background-thing">Next Page</a></li>
                <li><a href="#background-thing">Next Page</a></li>
            </ul>
        </nav>
    </header>
    <div id="homepic">
        <div id="location-box">
            <h4>Choose a location:</h4>
            <p>User enters location info here. Not sure how we want to do this. Dropdown menus, google map api, search box (that
                 when they start typing in, it will give them suggestions for locations to select), etc. When they hit submit it 
                 could automatically send them down to the 7-day forecast.
            </p>

            <!---FORM SECTION-->
            <form class="form-inline" method="POST">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <input type="text" class="form-control mb-2" placeholder="City" id="cityInput" name="cityInput">
                    </div>
                    <div class="col-auto">
                        <input type="text" class="form-control mb-2" placeholder="Country" id="countryInput" name="countryInput">
                    </div>
                    <div class="col-auto">
                        <input type="text" class="form-control mb-2" placeholder="State" id="stateInput" name="stateInput">
                    </div>
                    <div class="col-auto">
                        <input type="submit" class="btn btn-primary mb-2 "value="submit" onclick="updateTitle()">
                    </div>
            </form>

        </div>
    </div>

    <!---CONTENT SECTION-->
    <section id="white-container"> <!-- white box -->
        <div class="textContainer">
            <div id="current-conditions" class="weather-box">
                <div>
                    <h2>Portland, OR, USA</h2>
                    <h6 id="curr-date">Thursday, July 9, 5:00 PM</h6>
                    <p>Precipitation: 9%</p>
                    <p>Humidity: 44%</p>
                    <p>Wind: 5 mph</p>
                </div>
                <div id="curr-middle">
                    <i class="wi wi-day-cloudy"></i>
                    <p>Partly Cloudy</p>
                </div>
                <div id="curr-right">
                    <h1>77&#176;</h1>
                    <p>High: 78&#176;</p>
                    <p>Low: 54&#176;</p>
                </div>
                
            </div>
            <div id="week-forecast" class="weather-box">
                <div> <h5>FRI</h5> <i class="wi wi-day-cloudy"></i> <p>81&#176;/ 54&#176;</p>  </div> <!-- 1 -->
                <div> <h5>SAT</h5> <i class="wi wi-day-sunny"> </i><p>76&#176;/ 57&#176;</p> </div> <!-- 2 -->
                <div> <h5>SUN</h5> <i class="wi wi-day-cloudy"> </i><p>75&#176;/ 53&#176;</p> </div> <!-- 3 -->
                <div> <h5>MON</h5> <i class="wi wi-day-sunny"> </i><p>78&#176;/ 55&#176;</p> </div> <!-- 4 -->
                <div> <h5>TUE</h5> <i class="wi wi-day-cloudy"> </i><p>78&#176;/ 57&#176;</p> </div> <!-- 5 -->
                <div> <h5>WED</h5> <i class="wi wi-day-cloudy"> </i><p>76&#176;/ 57&#176;</p> </div> <!-- 6 -->
                <div> <h5>THU</h5> <i class="wi wi-day-cloudy"> </i><p>75&#176;/ 55&#176;</p> </div> <!-- 7 -->
            </div>
        </div>
    </section>
    
    <div id="background-thing">
    </div>
    
    <section id="mustard-container"> 
        <div class="textContainer">
            <div class="flex-center">
                <div>
                    <img src="{{ url_for('static', filename = '/img/lee-junda.jpg') }}" alt="lee-junda"/>
                </div>
                <div>
                    <h3>Something</h3>
                    <p>We could put something here later when our TA gives us more requirements in the future.</p>
                </div>
            </div>
            
        </div>
    </section>
</body>
<footer>
    <ul>
        <li><strong>Image Sources:</strong></li>
        <li>Earth and satellite: Photo by NASA on Unsplash.</li>
        <li>Footer background: Photo by NAMEEEE on Unsplash. </li>
      </ul> 
</footer>
</html>